python-dotenv
langchain
langchain-community
langchain-core


langchain_pinecone
streamlit 
langchain-google-genai

pinecone-client
pymupdf 
pandas
openpyxl

ipykernel

langchain-huggingface 
sentence-transformers


torchvision

docling


supabase

langchain-groq
