PINECONE_API_KEY = 'pinecone_api_key'

GEMINI_API_KEY = 'gemini_key'

SUPABASE_URL="supabase_url"
SUPABASE_KEY="supabase_secret_key"

ADMIN_EMAIL = "admin_key"

GROQ_API_KEY="your_groq_api_key_here"

PINECONE_INDEX_NAME = "pinecone_project_name"